        <section id="section_fdd9c9c46" class="content-block" data-column-mode-sm="single" data-column-mode-xs="single">
            <div class="container">
                <div id="row_1bbd57911" class="row">
                    <div id="column_c08504403" class="column" data-xl-width="3">
                        <div class="content-wrapper">

                            <div id="content_0fb284162" class="column-content" data-module="paragraph">
                                <div class="is-content"><div data-content-for="xl"><h4><span class="font_ng65n6sox">Exploratory</span><br></h4><ul><li>User interviews<br></li><li>Research synthesis</li><li>Empathy map</li><li>Proto- persona map<br></li><li>Service blueprint</li></ul></div></div>
                            </div>

                                </div>
                            </div><div id="column_d3382c7a7" class="column" data-xl-width="3">
                                <div class="content-wrapper">

                            <div id="content_50d61a2db" class="column-content" data-module="paragraph">
                                <div class="is-content"><div data-content-for="xl"><h4><span class="font_ng65n6sox">Framing</span></h4><ul><li>User journey map</li><li>Design studio / ideation<br></li><li>Design critique</li><li>Lean experiments<br></li><li>Usability testing<br></li></ul></div></div>
                            </div>

                                </div>
                            </div><div id="column_eb72a5840" class="column" data-xl-width="3">
                                <div class="content-wrapper">

                            <div id="content_0158715bf" class="column-content" data-module="paragraph">
                                <div class="is-content"><div data-content-for="xl"><h4><span class="font_ng65n6sox">Engagements</span></h4><ul><li>Goals &amp; anti-goals</li><li>Assumption mapping<br></li><li>Risks &amp; mitigations<br></li><li>Problem statements</li><li>User story mapping<br></li></ul></div></div>
                            </div>

                                </div>
                            </div><div id="column_2c37177b6" class="column" data-xl-width="3">
                                <div class="content-wrapper">

                            <div id="content_202ca9756" class="column-content" data-module="paragraph">
                                <div class="is-content"><div data-content-for="xl"><h4><span class="font_ng65n6sox">Teambuilding</span></h4><ul><li>Psychological safety<br></li><li>Team canvas</li><li>Retrospectives<br></li><li>Remote team building</li><li>Personal goals<br></li></ul></div></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>